@font-face {
	font-family: "Pretendard-M";
	src: url("./fonts/Pretendard/Pretendard-Medium.woff");
}

@font-face {
	font-family: "Pretendard-T";
	src: url("./fonts/Pretendard/Pretendard-Thin.woff");
}

@font-face {
	font-family: "Pretendard-L";
	src: url("./fonts/Pretendard/Pretendard-Light.woff");
}

@font-face {
	font-family: "SUIT-M";
	src: url("https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_suit@1.0/SUIT-Medium.woff2")
		format("woff2");
	font-weight: normal;
	font-style: normal;
}

@font-face {
	font-family: "SUIT-EL";
	src: url("https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_suit@1.0/SUIT-ExtraLight.woff2")
		format("woff2");
	font-weight: normal;
	font-style: normal;
}
